<%# <-- <% Make Poros for nation and send here%> 
members count: <%= @characters.count %>
===================================<br>
<% 25.times do%>
    <% @characters.each do |character| %>
       <h1> <%= character[:name] or "unknown" %></h1><br>
        <%= character[:photoUrl] %><br>
        <%= character[:allies] %><br>
        <%= character[:enemies] %><br>
        <%= character[:affiliation] %><br>
    <% end %>
<% end %>
<br>
===================================
<ul>
<% @characters.each do |character|%>
    <%= character[:name] %>
<% end %>
</ul>